@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
@font-face {
    font-family: opendyslexicaltaregular;
    src: url(../fonts/opendyslexicalta-regular-webfont.eot);
    src: url(../fonts/opendyslexicalta-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/opendyslexicalta-regular-webfont.woff2) format('woff2'),
         url(../fonts/opendyslexicalta-regular-webfont.woff) format('woff'),
         url(../fonts/opendyslexicalta-regular-webfont.ttf) format('truetype'),
         url(../fonts/opendyslexicalta-regular-webfont.svg#opendyslexicaltaregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

/******** Dark Mode ********/
:root {
	--border-radius: 12px !important;
	--color-white: #FAF1DE;
    --color-orange: #E07A5F;
    --color-blue: #3D405B;
    --color-green: #81B29A;
    --color-yellow: #F2CC8F;
    --body-background: #F8F9FB;
    --body-background-card: #FFF;    	
    --bg-header: #3D405B;
	--bg-section: #FFF;
	--bg-footer: #F2CC8F;
	--bg-card: #FFF;
	--box-shadow: 0 2px 10px 0 rgb(158 184 209 / 43%);
	--font-color: #3D405B;
    --font-color-link: #3D405B;   
}
.dark-mode {
	--bg-header: #010409;
	--body-background: #010409;
	--bg-section: #161B22;
	--bg-footer: #010409;
	--bg-card: #161B22;
	--font-color: #FFF;
    --font-color-link: #0D6EFD;
	--box-shadow: 0 2px 10px 0 rgb(32 34 37 / 43%)
}
/****************************/

/*********** Body ***********/
body {
	background-color: var(--body-background);
    font-family: 'Roboto', sans-serif;
    font-size: 15px !important
}
/****************************/

/********** Header **********/
header nav.navbar {
	opacity: 0.96
}	
header nav.navbar.bg-blue {
    background-color: var(--bg-header) !important
}
header nav.navbar .navbar-brand img {
	width: 4rem
}
header nav.navbar .nav-item a {
    text-decoration: none
}
header nav.navbar .nav-item .nav-icon {
    font-size: 1.9rem;
    color: var(--color-white)
}
/****************************/

/*********** Main ***********/
main {
    margin-top: 4.3rem
}
/****************************/

/********* Sections *********/
section {
	margin-bottom: 1rem !important
}
section h1 {
	margin-bottom: 0
}
section nav {
	margin-top: .8rem;
	margin-bottom: 0
}
section h1, h4, h5, h6, label {
    color: var(--font-color)
}
section.section-page {
	padding: 1rem 0;
	background-color: var(--bg-section);
	box-shadow: var(--box-shadow)
}
/****************************/

/********* Articles *********/
article {
	padding: 2rem 0	
}
article table tbody tr td {
	color: var(--font-color)
}
/****************************/

/*****************************
INDEX.JSP */
.bg-destino {
	width: 100vw;
	height: 100vh;
	margin-top: 0;
	background-image: url('../images/Fundo.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat
}
.bg-destino .bg-destino-overlay {
     position: absolute;
     width: 100vw;
     height: 100vh;
     top: 0;
     left: 0;
     background: linear-gradient(135deg, rgba(61, 64, 91, 0.4) 0%, rgba(61, 64, 91, 0.95) 100%)
}
.content-destino {
	position: relative;
	min-height: 88vh;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
    padding: 2rem
}
.content-destino img {
	width: 50rem
}
.content-destino .input-box {
	position: relative;
	width: 100%;
	max-width: 800px;
	height: 76px;
	background: #FFF;
	margin: 0 20px;
	border-radius: var(--border-radius);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1)
}
.content-destino .input-box i,
.content-destino .input-box .btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%)
}
.content-destino .input-box i {
	left: 15px;
	font-size: 30px;
	color: #707070
}
.content-destino .input-box .input-search {
	height: 100%;
	width: 100%;
	outline: none;
	font-size: 18px;
	font-weight: 400;
	border: none;
	padding: 0 155px 0 65px;
	background-color: transparent;
}
.content-destino .input-box .btn {
	right: 20px;
	padding: 12px 30px
}

.wrapper-cookie {
	position: fixed;
	width: 100%;
	max-width: 345px;
	right: -370px;
	bottom: 2rem;
	padding: 15px 25px 22px;
	background: #FFF;
	border-radius: var(--border-radius);
	transition: right 0.3s ease
}
.wrapper-cookie.show {
	right: 2rem
}
.wrapper-cookie-header {
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	column-gap: 15px
}
.wrapper-cookie-header i {
	color: #4070F4;
	font-size: 32px
}
.wrapper-cookie-header h4 {
	margin-top: .5rem;
	color: #4070F4;
	font-weight: 400
}
.wrapper-cookie-body {
	margin-bottom: 1rem
}
.wrapper-cookie-button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between
}
.wrapper-cookie-button button {
	width: calc(100% / 2 - 10px)
}
/****************************/

/*****************************
HOME.JSP */
.container-home {
	padding: 2rem;
	background: var(--bg-card);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow)
}
.container .container-home {
	position: relative;
	margin-top: -6rem
}
.container .text-justify {
    text-align: justify;
}
.container .text-justify p {
    color: var(--font-color);
	font-size: 1.1rem !important
}
.container-home-wrapper {
	padding: 2rem;
	background: var(--bg-card);
}
.container-home-img,
.container-home-img > img {
	height: 64vh
}
.container-home-img > img {
	width: 100vw
}
/****************************/

/*****************************
PAGINAS.JSP */

/****************************/

/*****************************
CADASTRO.JSP */
article .content {
  margin-bottom: 1rem;
  padding: 1rem;
  background: var(--bg-card);
  border-radius: var(--border-radius)
}
/****************************/

/*****************************
VISUALIZAR.JSP */
#photo-gallery {
	box-sizing: border-box;
	padding: .8rem;	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 9rem;
	gap: .8rem
}
#photo-gallery > img {
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	object-fit: cover
}
.image-grid-col-2 {
	grid-column: span 2
}
.image-grid-row-2 {
	grid-row: span 2
}
/****************************/

/*****************************
BUTTON */
.btn-green {
  --bs-btn-color: #FFF;
  --bs-btn-bg: var(--color-green);
  --bs-btn-border-color: var(--color-green);
  --bs-btn-hover-color: #FFF;
  --bs-btn-hover-bg: #74A08A;
  --bs-btn-hover-border-color: #74A08A;
  --bs-btn-focus-shadow-rgb: 129, 178, 154;
  --bs-btn-active-color: #FFF;
  --bs-btn-active-bg: var(--color-green);
  --bs-btn-active-border-color: var(--color-green);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color:#FFF;
  --bs-btn-disabled-bg: var(--color-green);
  --bs-btn-disabled-border-color: var(--color-green)
}
/****************************/
 
/*****************************
CARD */
.card {
    background-color: var(--bg-card);
    border: none !important;
    box-shadow: var(--box-shadow)
}
.card,
.card.swiper-slide img {
	border-radius: var(--border-radius)
}

/******** Card Slide ********/
.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}
.swiper-pagination-bullet {
  background-color: #000;
}

.card.swiper-slide {
	height: 28em
}
.card.swiper-slide img {
	height: 100vh
}
.card.swiper-slide h5,
.card.swiper-slide p {
	color: #FFF !important
}
.card.swiper-slide h5 {
	font-size: 1.4rem !important
}
.card.swiper-slide p {
	font-size: 1rem !important
}
.card.swiper-slide.swiper-slide-destaques {
	background-position: center left;
	background-size: cover;
	box-shadow: none !important
}
.card.swiper-slide.swiper-slide-destaques .card-body {
	margin-right: 4rem !important;
	margin-left: 4rem !important;
	padding: 1.4rem !important;
	background-color: var(--bg-card);
	border-radius: var(--border-radius)
}
.card.swiper-slide.swiper-slide-destaques .card-body p {
	color: #000 !important;
	font-size: .9rem !important
}

/******** Card DFlex ********/
.card.card-d-flex {
	min-height: 24rem
}
.card.card-d-flex img {
    height: 9rem;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}
.card.card-d-flex .reserva {
	width: 100%;
    padding: 0 1rem 1rem 1rem
}
.card.card-d-flex .card-body h5,
.card.card-d-flex .card-body p {
	color: var(--font-color);
    font-size: .9rem
}
/****************************/

/******** Off-Canvas ********/
.offcanvas {
    background-color: var(--body-background-card)
}
.offcanvas .offcanvas-header h5 {
    color: var(--font-color)
}
/****************************/

/******** Google Map ********/
#map {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: .4rem
}
/****************************/

/******* Janela_Modal *******/
/*.modal .modal-body {
	background-color: var(--body-background)
}*/
.modal .modal-body textarea {
    height: 140px;
    margin-bottom: 1rem;
    resize: none
}
.modal .modal-body > .border {
	background-color: var(--body-background)
}
.modal .modal-body > .border h5 {
	color: var(--font-color)
}
/****************************/

/********* Ratings **********/
div.stars {
	width: 280px;
	display: inline-block
}
input.star {
	display: none
}
label.star {
	float: right;
	padding: 10px;
	font-size: 36px;
	color: var(--color-blue);
	transition: all .2s
}
input.star:checked ~ label.star:before {
	content: '\F586';
	color: var(--color-yellow);
	transition: all .25s
}
input.star-5:checked ~ label.star:before {
	color: var(--color-yellow)
}
input.star-1:checked ~ label.star:before {
	color: var(--color-yellow)
}
label.star:hover {
	transform: rotate(-15deg) scale(1.3)
}
label.star:before {
	content: '\F588';
	font-family: bootstrap-icons
}
/****************************/

/********** Footer **********/
footer {
    padding: 3rem 0 !important;
	background-color: var(--bg-footer);
}
footer p, h5 {
    color: var(--font-color);
}
footer i.bi {
    font-size: 1.9rem;
    color: var(--font-color)
}
/****************************/

/********** @Media **********/
@media screen and (max-width: 1024px) {
	#photo-gallery {
		--num-cols: 2;
		--row-height: 200px;
	}
}
@media(max-width: 720px) {
	.container-home-img,
	.container-home-img > img {
		height: 30vh
	}
	.content-destino img {
		width: 30rem
	}
}
/****************************/